<%
	instance = params[:id].present? ? @entity.find(params[:id]) : @entity.new
  	columns = ["content","created_at","retweeted", "followed", "replied","favorited","retweets", "follows", "replies", "favorites", "traffic"]

  	@entities = instance.get_feed_list.map{|i| i}
  	@entity = instance.get_feed_entity
%>
<%= render "confirmation_box"%>
<% @entities+=[@entity.new]%>

<div class="panel panel-default">
	<div class="panel-heading">
		<%= @entity.name.pluralize%> to <%= instance.name%>
		<span class="glyphicon glyphicon-remove" style="float: right" onclick="closeForm('<%= instance.id%>')"></span>
	</div>
	<div class="panel-body" style="overflow: auto;height: 646px;">
		<ul class="list-group">
			<%
			@entities.each{|entity|
			%>

			<li class="list-group-item">
				<%=form_tag("/prospects/set_feed/#{entity.id || ''}",class:"form-inline", role:"form",onsubmit:"lsd.setFeedItem($(this),'#{instance.id}');return false;", method:"post") do%>
				<input type="hidden" name="prospect_id" value="<%=instance.id%>" />
				<input type="hidden" name="id" value="<%=entity.id%>" />
				<%
				columns.each{|k|
					
				logger.debug k
				desc = @entity.describe(k.to_s)
	
				case desc[:type].to_sym
				when :string
				%>
				<div class="form-group">
					<%= k.to_s.humanize%><br>
					<input class="form-control" id="<%= k%>" name="<%= k%>" value="<%= entity[k] %>">
				</div>
				<%when :datetime
				%>
				<div class="form-group">
					<%= k.to_s.humanize%><br>
					<%= (entity[k] || Time.now).to_formatted_s(:short)%>
				</div>
				<%
				when :integer, :decimal, :float
				%>
				<div class="form-group" style="width: 65px">
					<%= k.to_s.humanize%><br>
					<input class="form-control" id="<%= k%>" name="<%= k%>" value="<%= entity[k]%>">
				</div>
				<%
				when :boolean
				%>
				<div class="checkbox">
					<label>
						<span class="label label-default"><%= k.to_s.humanize%></span><br>
				    	<input name="<%= k%>" value="true" type="checkbox" <%= entity[k]==true ? "checked" : ""%>> 
				    </label>
				</div>
				<%
				end
				}
				%>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default">Save</button>
					</div>
				</div>
				
				<% end %>
			</li>

			<%
			}
			%>

		</ul>
	</div>
</div>
