<%= render "confirmation_box"%>

<div class="panel panel-default">
	<div class="panel-heading">
		Prospects
	</div>
	<div class="panel-body">
		<table class="table table-striped">

			<thead>
				<tr>
					<th width="10px"></th>
					<%
					Prospect.to_info_keys.each{|k|
					%><th><%= k.to_s.humanize%></th><%
					}
					%>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<%
				(@entities+[Prospect.new]).each{|entity|
				%>

				<tr>
					<td><span style="color: silver;font-size: 8px"><%= entity.id%></span>&nbsp;</td>
					<%
					Prospect.to_info_keys.each{|k|
					%><td><%= entity.send(k)%></td><%
					}
					%>

					<td width="180px"><span>
						<%=form_tag("/prospects/show/#{entity.id || ''}",class:"form-horizontal", role:"form") do%>
						<%
						if entity.respond_to?("get_feed_entity") && !entity.id.nil?
							%>
							<button class="btn btn-default" onclick="lsd.openFeedForm('<%=Prospect%>','<%=entity.id%>');return false;" >
							<%= entity.get_feed_label%>
							</button>
							<%
						end
						%>
						
						<button value="Edit" class="btn btn-default">
							<%= entity.id.nil? ? "New" : "Edit"%>
						</button> <% end %></span>
						<a style="float: right;margin-top: -27px;display: <%= entity.id.nil? ? "none" : "block"%>" onclick="confirmAction('Delete this <%= Prospect%>?','<%= entity.id%>');return false;" href="#" class="btn btn-danger btn-xs" >x</a>
					</td>

				</tr>

				<%
				}
				%>
				
				
			</tbody>
		</table>
	</div>
</div>
<script>
	function openForm(type, data) {
		$("#formHolderBackground").show();
		$("#formHolder").html(type);
		var name = "#" + type + "FormTemplate";
		$("#formHolder").html(data);
	}

	function closeForm() {
		$("#formHolder").html("");
		$("#formHolderBackground").hide();
	}

	var lsd = new LSDController(); 
</script>

<div id="formHolderBackground" style="background-color: black;opacity: 0.4;position:absolute;top:0;left:0;width: 100%;height: 100%;display: none" onclick="closeForm()">
	
</div>
<div id="formHolder" style="z-index: 2;position: fixed;top: 130px;width: 80%"></div>